<a class="github-link tooltip tooltip-bottom" href="{{ github_config.tree ~  ('/'~page.filePathClean)|replace({'/user/':''}) }}" data-tooltip="{{ 'THEME_LEARN4.GITHUB.TOOLTIP'|t }}"><i class="fa fa-pencil-square"></i> {{ 'THEME_LEARN4.GITHUB.BUTTON'|t }}</a>
