{% if config.get('plugins.page-toc.active') or attribute(page.header, 'page-toc').active %}
  <div class="page-toc">
    {% set table_of_contents = toc(page.content) %}
    {% if table_of_contents is not empty %}
      <h4>Quick Menu</h4>
      {{ table_of_contents }}
    {% endif %}
  </div>
{% endif %}