@charset "UTF-8";
.off-canvas {
  min-height: 100vh;
}
.off-canvas .off-canvas-toggle {
  position: fixed;
  top: 0.3rem;
  left: 0.3rem;
  width: 1.6rem;
  height: 1.6rem;
  padding-top: 0.15rem;
  z-index: 3;
  font-size: 16px !important;
}
.off-canvas .off-canvas-content {
  padding: inherit;
}
.off-canvas .off-canvas-overlay {
  background: rgba(69, 77, 93, 0.5);
}
.off-canvas .learn-sidebar {
  width: 14rem;
  color: rgba(255, 255, 255, 0.6);
  overflow-y: inherit;
}
.off-canvas .learn-sidebar:before {
  position: fixed;
  content: "";
  height: 100vh;
  width: 14rem;
  top: 0;
  left: 0;
}
.off-canvas .learn-sidebar a {
  color: rgba(255, 255, 255, 0.8);
}
.off-canvas .learn-sidebar a:hover {
  color: #fff;
}
.off-canvas .learn-sidebar .padding {
  padding-left: 1rem;
}
.off-canvas .learn-sidebar hr {
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.off-canvas .learn-sidebar .learn-brand {
  position: fixed;
  height: 7rem;
  width: 14rem;
  top: 0;
  padding: 10px 20px;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.3);
}
.off-canvas .learn-sidebar .learn-brand #logo {
  display: inline-block;
  margin: 0 2.5rem 0.5rem;
}
.off-canvas .learn-sidebar .learn-brand #logo path {
  fill: rgba(255, 255, 255, 0.8) !important;
}
.off-canvas .learn-sidebar .learn-nav {
  top: 7rem;
  bottom: 0;
  width: 14rem;
  padding-bottom: 1rem;
  position: fixed;
}
.off-canvas .learn-sidebar .learn-nav .read-icon {
  float: right;
  margin-right: 12px;
  margin-top: 5px;
  display: none;
  opacity: 0.8;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
}
.off-canvas .learn-sidebar .learn-nav .visited > a > .read-icon {
  display: inline;
}
.off-canvas .learn-sidebar .learn-nav ul {
  list-style: none;
  margin-left: 1rem;
  margin-top: 0.2rem;
}
.off-canvas .learn-sidebar .learn-nav ul.topics {
  margin-top: 0;
}
.off-canvas .learn-sidebar .learn-nav ul.topics > li:first-child {
  margin-top: 0;
}
.off-canvas .learn-sidebar .learn-nav ul a {
  display: block;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}
.off-canvas .learn-sidebar .learn-nav ul.searched a {
  color: rgba(255, 255, 255, 0.5);
}
.off-canvas .learn-sidebar .learn-nav ul.searched .search-match a {
  color: rgba(255, 255, 255, 0.8);
}
.off-canvas .learn-sidebar .learn-nav ul.searched .search-match a:hover {
  color: rgba(255, 255, 255, 0.9);
}
.off-canvas .learn-sidebar .learn-nav ul.topics.searched ul {
  display: block;
}
.off-canvas .learn-sidebar .learn-nav ul.topics > li {
  margin-top: 0.3rem;
}
.off-canvas .learn-sidebar .learn-nav ul.topics > li.active, .off-canvas .learn-sidebar .learn-nav ul.topics > li.parent {
  background-color: rgba(0, 0, 0, 0.2);
  margin-left: -1rem;
  padding-left: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.off-canvas .learn-sidebar .learn-nav ul li, .off-canvas .learn-sidebar .learn-nav ul ol {
  margin-top: 0.1rem;
}
.off-canvas .learn-sidebar .learn-nav ul ul {
  font-size: 0.75rem;
  display: none;
  margin-top: 0;
  margin-bottom: 0;
}
.off-canvas .learn-sidebar .learn-nav ul li.active > a {
  background-color: #1AA3ED;
  color: #fff;
  margin-left: -0.4rem;
  padding-left: 0.4rem;
}
.off-canvas .learn-sidebar .learn-nav ul li a > span > b {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
}
.off-canvas .learn-sidebar .learn-nav ul .active ul, .off-canvas .learn-sidebar .learn-nav ul .parent ul {
  display: block;
}
.off-canvas .learn-sidebar .searchbox {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.6);
  border-radius: 2px;
}
.off-canvas .learn-sidebar .searchbox ::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.off-canvas .learn-sidebar .searchbox input {
  border: 0;
  background: transparent;
  width: 100%;
  padding: 4px 25px 4px 30px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 200;
  font-size: 0.7rem;
}
.off-canvas .learn-sidebar .searchbox label {
  position: absolute;
  left: 8px;
  top: 2px;
}
.off-canvas .learn-sidebar .searchbox span {
  position: absolute;
  right: 8px;
  top: 2px;
  cursor: pointer;
}
.off-canvas .learn-sidebar .search-options {
  margin-top: 10px;
}
.off-canvas .learn-sidebar .search-options .adv-search {
  font-size: 85%;
  display: flex;
  align-items: center;
  padding-left: 0.6rem;
}
.off-canvas .learn-sidebar .search-options .adv-search i {
  margin-right: 5px;
}
.off-canvas .learn-sidebar .search-options .version-chooser select {
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  border-radius: 2px;
  font-size: 0.8rem;
  font-weight: 700;
  margin: 0;
  letter-spacing: 1px;
}
.off-canvas .learn-sidebar .side-tools {
  font-size: 90%;
  color: rgba(255, 255, 255, 0.5);
}

/** Defaults (purple) **/
.off-canvas .learn-sidebar:before {
  background: linear-gradient(150deg, #8E44AD 0, #283A63 100%);
}

/** Secondary (green) **/
body.sidebar-green .off-canvas .learn-sidebar:before {
  background: linear-gradient(150deg, #16A085 0, #283A63 100%);
}

/** Tertiary (blue)**/
body.sidebar-blue .off-canvas .learn-sidebar:before {
  background: linear-gradient(150deg, #1AA3ED 0, #283A63 100%);
}

/** High Contrast **/
body.sidebar-contrast .off-canvas .learn-sidebar a {
  color: #fff;
}
body.sidebar-contrast .off-canvas .learn-sidebar:before {
  background: linear-gradient(150deg, #3B4349 0, #1E2329 100%);
}
body.sidebar-contrast .off-canvas .learn-sidebar .searchbox ::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/metropolis-bold-webfont.woff2") format("woff2"), url("../fonts/metropolis-bold-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Light.woff2") format("woff2"), url("../fonts/PublicSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-SemiBold.woff2") format("woff2"), url("../fonts/PublicSans-SemiBold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Hack";
  src: url("../fonts/hack-regular-subset.woff2") format("woff2"), url("../fonts/hack-regular-subset.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
#top-bar {
  position: fixed;
  display: flex;
  background: #f8f9fa;
  border-bottom: 1px solid #edeef1;
  z-index: 2;
  align-items: center;
  top: 0;
  right: 0;
  left: 14rem;
}
@media (max-width: 960px) {
  #top-bar {
    left: 0;
  }
}
#top-bar #breadcrumbs {
  padding-left: 0.5rem;
  line-height: 1;
  height: auto;
  width: 100%;
}
@media (max-width: 600px) {
  #top-bar #breadcrumbs * {
    display: none;
  }
}
#top-bar #breadcrumbs > span, #top-bar #breadcrumbs > a {
  padding: 0 0.5rem !important;
}
#top-bar #breadcrumbs > span span, #top-bar #breadcrumbs > a span {
  padding: 0 !important;
}
@media (max-width: 960px) {
  #top-bar #breadcrumbs {
    padding-left: 2rem;
  }
}
#top-bar #navigation {
  width: 400px;
  display: flex;
}
#top-bar #navigation > a, #top-bar #navigation span {
  width: 50%;
  text-align: center;
  border-left: 1px solid #edeef1;
  font-size: 27px;
  text-decoration: none;
  transition: background-color 0.5s ease, color 0.5s ease;
}
#top-bar #navigation > a.disabled, #top-bar #navigation span.disabled {
  color: #bbc1cd;
}
#top-bar #navigation > a:hover {
  background: #edeef1;
  color: #0e75ad;
}
#top-bar .progress {
  position: absolute;
  bottom: -1px;
  background: linear-gradient(to right, #1AA3ED var(--scroll), transparent 0);
  background-repeat: no-repeat;
  width: 100%;
  height: 1px;
  z-index: 1;
}

.center-content #start {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.learn-content {
  position: relative;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.learn-content #start {
  padding: 2rem 3rem;
}
@media (max-width: 1280px) {
  .learn-content #start {
    padding: 2rem 2rem;
  }
}
@media (max-width: 960px) {
  .learn-content #start {
    padding: 2rem 1rem;
  }
}

#footer {
  border-top: 1px solid #e7e9ed;
  margin-top: 1rem;
  text-align: center;
}
#footer p {
  margin: 1rem 0;
}

.page-toc {
  float: right;
  width: 250px;
  padding: 0.5rem 0.75rem;
  background: #f3f4f6;
  margin-left: 1.5rem;
  margin-right: 0;
  margin-bottom: 1rem;
  margin-top: 10px;
  font-size: 0.7rem;
  overflow: hidden;
}
@media (max-width: 600px) {
  .page-toc {
    float: none;
    width: 100%;
    margin-top: 0.5rem;
    margin-left: 0;
    margin-bottom: 0;
  }
}
.page-toc .toc-toggle {
  font-size: 1.2rem;
  display: block;
  float: right;
  margin-top: -8px;
  margin-right: -10px;
  padding: 5px 10px;
  line-height: 1;
  color: #667189;
  cursor: pointer;
}
.page-toc.toc-closed {
  height: 40px;
  margin-bottom: 0.5rem;
}
.page-toc.toc-closed .toc-toggle .fa:before {
  content: "";
}
.page-toc h5 {
  margin: 0 0 1rem;
}
.page-toc ul {
  margin-left: 1rem;
  margin-bottom: 0;
}
.page-toc li {
  margin-top: 0;
  list-style: decimal;
  color: #808ba1;
}
.page-toc li li {
  list-style: decimal;
}
.page-toc li li li {
  list-style: square;
}
.page-toc ul > li.first.last {
  list-style: none;
  margin: 0;
  margin-left: -1rem;
}
.page-toc + #body-inner > .notices, .page-toc + #body-inner > .code-toolbar {
  overflow: hidden;
}

html {
  font-size: 18px;
}
@media screen and (min-width: 480px) {
  html {
    font-size: calc(18px + 2 * ((100vw - 480px) / 800));
  }
}
@media screen and (min-width: 1280px) {
  html {
    font-size: 20px;
  }
}

body {
  font-weight: 300;
  letter-spacing: -0.015rem;
}
body ::selection {
  background: #ECECFE;
}

div {
  min-width: 0;
}

pre {
  padding: 1em;
}

mark {
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Metropolis", "Helvetica Neue", sans-serif;
  letter-spacing: -0.05rem;
  margin-top: 2rem;
  color: #242931;
  line-height: 1;
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
  font-weight: 500;
}
@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
}

a:hover, a:focus, a:active, a.active {
  color: #0e75ad;
  text-decoration: none;
}
a:focus {
  outline: none !important;
  box-shadow: none !important;
}
a:visited {
  color: #1195dc;
}

.table-keycol {
  overflow: hidden;
}

.table {
  width: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  overflow-x: auto;
  margin-bottom: 1.5rem;
  text-align: left;
}
table tbody tr:nth-of-type(odd) {
  background: #f8f9fa;
}
table tbody tr.active {
  background: #f0f1f4;
}
table td,
table th {
  border-bottom: 0.05rem solid #e7e9ed;
  padding: 0.6rem 0.4rem;
}
table th {
  border-bottom-width: 0.1rem;
}
.table-keycol table tr > td:first-child, .table-keycol table tr > th:first-child {
  white-space: nowrap;
  width: 15%;
}

img, .video-container {
  max-width: 100%;
  margin: 3rem auto;
  display: block;
  text-align: center;
}
img.border, .video-container.border {
  border: 2px solid #e6e6e6 !important;
  padding: 2px;
}
img.shadow, .video-container.shadow {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

hr {
  border: 0;
  border-top: 1px solid #e7e9ed;
}

ul, ol {
  margin: 0 0 1.2rem 0;
}
ul ul, ul ol, ol ul, ol ol {
  margin: 0;
}
ul ol, ol ol {
  list-style-type: decimal;
}
ul li, ol li {
  padding-top: 0;
}

.button-primary {
  background: #1AA3ED;
  border-color: #129be6;
  color: #fff !important;
}
.button-primary:focus, .button-primary:hover {
  background: #1195dc;
  border-color: #108bce;
  color: #fff;
}
.button-primary:active, .button-primary.active {
  background: #118fd3;
  border-color: #0f85c5;
  color: #fff;
}

#chapter {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}
#chapter h3 {
  opacity: 0.7;
}
#chapter h3 + h1 {
  display: inline-block;
  margin: 1rem auto 2rem;
  border-bottom: 3px solid #e7e9ed;
}
@media (max-width: 600px) {
  #chapter h3 + h1 {
    font-size: 2.5rem;
  }
}

#body-inner :target:before {
  content: "";
  display: block;
  margin-top: -60px;
  height: 60px;
  width: 1px;
}

pre.xdebug-var-dump {
  background: #fafafa;
  display: block;
  padding: 1rem;
  line-height: 1.5;
  color: inherit;
  border-radius: 2px;
  overflow-x: auto;
}

#body-inner pre {
  margin: 0.5rem 0;
}
#body-inner pre ::selection {
  background: #ECECFE;
}
#body-inner code {
  word-break: break-word;
}
#body-inner .code-toolbar {
  margin: 0.5rem 0;
}
#body-inner .code-toolbar pre[class*=language-] {
  margin: 0;
}
#body-inner code[class*=language-], #body-inner pre[class*=language-] {
  font-family: "Hack", monospace;
}
#body-inner pre[class*=language-] {
  font-size: 0.7rem;
}
#body-inner pre[class*=language-] code {
  padding: initial;
  font-size: 0.7rem;
}
#body-inner .no-margin-top {
  margin-top: -1em;
}
#body-inner .no-margin-top .code-toolbar {
  margin-top: 0;
}
#body-inner .no-margin-top .code-toolbar > pre {
  padding-top: 3px;
}
#body-inner .no-margin-bottom .code-toolbar {
  margin-bottom: 0;
}
#body-inner .line-highlight {
  background: linear-gradient(to right, rgba(255, 233, 179, 0.3) 70%, rgba(255, 233, 179, 0));
}
#body-inner .line-highlight:before {
  background-color: #ffbd1a;
  box-shadow: none;
  top: 0.15rem;
}

i.fa.fa-heart.pulse, i.fa.fa-heart-o.pulse {
  color: #920;
}

b,
strong {
  font-weight: 500;
}

.heavy {
  font-weight: 700;
}

.light {
  font-weight: 200;
}

#error {
  text-align: center;
  position: relative;
  margin-top: 5rem;
}
#error .icon {
  font-size: 50px;
}

#messages {
  margin-bottom: 1rem;
}
#messages .icon {
  font-size: 1rem;
}

ul,
ol {
  margin-left: 1.6rem;
}
ul ul,
ul ol,
ol ul,
ol ol {
  margin-left: 1.6rem;
}

ul {
  list-style: disc outside;
}

ol {
  list-style: decimal outside;
}

#navigation a.github-link {
  font-size: inherit !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}
#navigation a.github-link i {
  padding-right: 5px;
}

.tabs-wrapper.ui-theme-badges {
  background: #F8F9FA;
  border: 1px solid #f2f4f6;
  border-radius: 0;
}
.tabs-wrapper.ui-theme-badges .tabs-nav {
  margin: 0.25rem;
}
.tabs-wrapper.ui-theme-badges .tabs-nav > li {
  margin-top: 0;
}
.tabs-wrapper.ui-theme-badges .tabs-nav li a {
  color: #767693;
  background: #e6eaed;
  border-radius: 0;
}
.tabs-wrapper.ui-theme-badges .tabs-nav li.current a {
  background: #8193a5;
  color: #fff;
}
.tabs-wrapper.ui-theme-badges .tabs-nav li:not(.current) a:hover {
  background: #dde2e7;
}
.tabs-wrapper.ui-theme-badges .tabs .tab {
  padding: 0.25rem 0;
}
.tabs-wrapper.ui-theme-badges .tabs .tab pre {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.notices {
  margin: 1.5rem 0;
  padding: 0.4rem;
}
.notices p {
  margin: 0 0 1.5rem 0.5rem;
}
.notices p:last-child {
  margin-bottom: 0;
}
.notices.info {
  border-left: 5px solid #f0ad4e;
  background: #fcf8f2;
  color: #df8a13;
}
.notices.warning {
  border-left: 5px solid #d9534f;
  background: #fdf7f7;
  color: #b52b27;
}
.notices.note {
  border-left: 5px solid #5bc0de;
  background: #f4f8fa;
  color: #28a1c5;
}
.notices.tip {
  border-left: 5px solid #5cb85c;
  background: #f1f9f1;
  color: #3d8b3d;
}

.twig__headers h3 + h4 {
  margin-top: -0.3rem;
  font-size: 120%;
}
.twig__headers h3 code {
  font-weight: bold;
  color: #242931;
  background: none;
}

audio {
  max-width: 100%;
}

pre {
  max-width: 100%;
}

pre[class*=language-]:not(.command-line), pre[class*=language-]:not(.command-line) > code[class*=language-] {
  word-break: break-word;
  white-space: pre-wrap;
}

.tntsearch-results em {
  background: #ffe9b3;
  color: #3a414e;
  border-bottom: 0.05rem solid #ffd367;
  border-radius: 0.1rem;
  padding: 0.05rem 0.1rem 0;
}

.lifecycle #body-inner .level {
  position: relative;
}
.lifecycle #body-inner .level h3 {
  font-size: 18px;
  position: absolute;
  margin: 0;
  padding: 2px 10px 4px;
  left: 0;
  z-index: 1000;
  color: #fff;
}
.lifecycle #body-inner .level .level {
  margin-top: 0.5rem;
  margin-left: -1rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  padding-bottom: 1rem;
}
.lifecycle #body-inner .level ol li {
  padding-top: 0.1rem;
  margin-top: 0.2rem;
}
.lifecycle #body-inner .level > ol {
  margin-top: 2rem;
}
.lifecycle #body-inner .level.level-1 {
  background: #f6fefc;
  border: 4px solid #1ABC9C;
  color: #1ABC9C;
  margin-bottom: 1rem;
}
.lifecycle #body-inner .level.level-1 h3 {
  background: #1ABC9C;
}
.lifecycle #body-inner .level.level-2 {
  background: #f7fdf9;
  border: 4px solid #2ECC71;
  color: #2ECC71;
}
.lifecycle #body-inner .level.level-2 h3 {
  background: #2ECC71;
}
.lifecycle #body-inner .level.level-3 {
  background: #f3f9fd;
  border: 4px solid #3498DB;
  color: #3498DB;
}
.lifecycle #body-inner .level.level-3 h3 {
  background: #3498DB;
}
.lifecycle #body-inner .level.level-4 {
  background: #e4eaf0;
  border: 4px solid #34495E;
  color: #34495E;
}
.lifecycle #body-inner .level.level-4 h3 {
  background: #34495E;
}

form {
  /** Reset some defaults for Quark Theme **/
}
form .button-wrapper {
  margin-top: 0.75rem;
  margin-bottom: 1rem;
}
form span.required {
  color: #e85600;
  font-weight: 700;
  font-size: 1.2rem;
}
form .form-input[type=range] {
  appearance: slider-horizontal;
}
form .form-input[type=range]:focus {
  box-shadow: none;
  border: none;
}
form .form-group:not(.form-field-toggleable) .checkboxes {
  display: inherit;
}
form .form-group:not(.form-field-toggleable) .checkboxes label {
  display: inherit;
  padding: 0.1rem 0.4rem 0.1rem 1.2rem;
  margin: inherit;
}
form .form-group:not(.form-field-toggleable) .checkboxes label:before {
  display: none;
}

#grav-login > form {
  margin: 2rem auto 0;
  max-width: 350px;
}
#grav-login .form-label {
  display: none;
}
#grav-login .form-data {
  margin: 1rem 0;
}
#grav-login .form-input {
  text-align: center;
}
#grav-login .button-wrapper {
  text-align: right;
}
#grav-login .button-wrapper .form-data.rememberme {
  margin: 0;
  float: left;
}
#grav-login .login-form button[type=submit] {
  background: #1AA3ED;
  border-color: #129be6;
  color: #fff !important;
}
#grav-login .login-form button[type=submit]:focus, #grav-login .login-form button[type=submit]:hover {
  background: #1195dc;
  border-color: #108bce;
  color: #fff;
}
#grav-login .login-form button[type=submit]:active, #grav-login .login-form button[type=submit].active {
  background: #118fd3;
  border-color: #0f85c5;
  color: #fff;
}
#grav-login .twofa-form button[type=submit]:first-child {
  background: #1AA3ED;
  border-color: #129be6;
  color: #fff !important;
  float: right;
  margin-left: 4px;
}
#grav-login .twofa-form button[type=submit]:first-child:focus, #grav-login .twofa-form button[type=submit]:first-child:hover {
  background: #1195dc;
  border-color: #108bce;
  color: #fff;
}
#grav-login .twofa-form button[type=submit]:first-child:active, #grav-login .twofa-form button[type=submit]:first-child.active {
  background: #118fd3;
  border-color: #0f85c5;
  color: #fff;
}

.default-animation, a {
  transition: all 0.5s ease;
}

.pulse {
  animation-name: pulse_animation;
  animation-duration: 2000ms;
  transform-origin: 70% 70%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pulse_animation {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.08);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
[data-simplebar] {
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  visibility: visible;
  overflow: auto;
  /* Scroll on this element otherwise element can't have a padding applied properly */
  max-width: 100%;
  /* Not required for horizontal scroll to trigger */
  max-height: 100%;
  /* Needed for vertical scroll to trigger */
}

.simplebar-content:before,
.simplebar-content:after {
  content: " ";
  display: table;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  box-sizing: inherit !important;
  height: 100%;
  width: inherit;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  flex-grow: inherit;
  flex-shrink: 0;
  flex-basis: 0;
}

.simplebar-height-auto-observer {
  box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  right: 2px;
  width: 7px;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background: rgba(255, 255, 255, 0.5);
  border-radius: 7px;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.simplebar-track .simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 0.5;
  transition: opacity 0s linear;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

/* Rtl support */
[data-simplebar-direction=rtl] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
}

/*# sourceMappingURL=theme.css.map */
