@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/metropolis-bold-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('../fonts/aileron-semibold-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Aileron';
    src: url('../fonts/aileron-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}