$sidebar-width: 14rem;

.off-canvas {
    min-height: 100vh;

    .off-canvas-toggle {
        position: fixed;
        top: .2rem;
        left: 0.2rem;
        width: 1.6rem;
        height: 1.6rem;
        padding-top: .15rem;
    }

    .off-canvas-content {
        padding: .4rem 4rem;
    }

    .off-canvas-overlay {
        background: rgba($dark-color, .5);
    }

    .learn-sidebar {
        background: linear-gradient(to bottom, #633E67, #283A63);
        min-width: $sidebar-width;
        color: rgba(#fff, 0.6);

        a {
            color: rgba(#fff, 0.8);
        }

        .padding {
            padding-left: 1rem;
        }

        hr {
            border: 0;
            border-bottom: 1px solid rgba(#fff, 0.1);
        }

        .learn-brand {
            position: fixed;
            height: 150px;
            width: $sidebar-width;
            top: 0;
            background: rgba(#000, 0.3);
            padding: 10px 20px;

            #logo {
                display: inline-block;
                margin: 0 2rem 10px;

                path {
                    fill: rgba(#fff, 0.8) !important;
                }

            }
        }

        .learn-nav {
            top: 150px;
            bottom: 0;
            width: $sidebar-width;
            padding-bottom: 1rem;
            position: fixed;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;

            .read-icon {
                float: right;
                margin-right: 5px;
                margin-top: 2px;
            }

            ul {
                list-style: none;
                margin-left: 1rem;
                margin-top: .2rem;

                a {
                    display: block;
                    padding-top: 0.1rem;
                    padding-bottom: 0.1rem;
                }

                &.topics {


                    & > li {
                        margin-top: .3rem;

                        &.active, &.parent {
                            background-color: rgba(#000, 0.2);
                            margin-left: -1rem;
                            padding-left: 1rem;
                        }
                    }



                }

                li, ol {
                    margin-top: .1rem;
                }

                ul {
                    font-size: 0.75rem;
                    display: none;
                    margin-top: 0;
                    margin-bottom: 0;


                }

                li {
                    &.active > a {
                        background-color: $link-color;
                        color: #fff;
                        margin-left: -0.4rem;
                        padding-left: 0.4rem;

                    }

                    a > span > b {
                        font-weight: normal;
                        color: rgba(#fff, 0.6);
                    }
                }

                .active ul, .parent ul {
                    display: block;
                }
            }
        }

        .searchbox {
            position: relative;
            border: 1px solid rgba(#fff, 0.1);
            background: rgba(#000, 0.1);
            color: rgba(#fff, 0.6);
            border-radius: 2px;

            ::placeholder {
                color: rgba(#fff, 0.4);
            }

            input {
                border: 0;
                background: transparent;
                width: 100%;
                padding: 4px 25px 4px 30px;
                color: rgba(#fff, 0.8);


            }

            label {
                position: absolute;
                left: 8px;
                top: 4px;
            }

            span {
                position: absolute;
                right: 8px;
                top: 4px;
                cursor: pointer;
            }
        }

        .search-options {
            margin-top: 10px;

            .version-chooser select {
                display: inline-block;
                border: 1px solid rgba(#fff, 0.1);
                background: rgba(#000, 0.1);
                color: #fff;
                border-radius: 2px;
                font-size: 16px;
                font-weight: 700;
                margin: 0;
                letter-spacing: 1px;
            }
        }
    }

    .learn-content {
        position: relative;
        width: calc(100% - #{$sidebar-width});

        #learn-navigation {
            > a {
                position: fixed;
                display: flex;
                align-items: center;
                justify-content: center;
                top: 0;
                bottom: 0;
                width: 3rem;
                font-size: 60px;
                text-decoration: none;
                transition: background-color 0.5s ease, color 0.5s ease;

                &:hover {
                    background: $bg-color;
                    color: $link-color-dark;
                }

                &.nav-prev {
                    left: $sidebar-width;
                }

                &.nav-next {
                    right: 0;
                }
            }
        }

        @include breakpoint(lg) {

            width: 100%;
            padding-left: 2.5rem;
            padding-right: 0.5rem;

            #learn-navigation {
                > a {
                    font-size: 30px;
                    width: 2rem;
                    border-right: 1px solid $bg-color-dark;
                    background: $bg-color;

                    &:hover, &:active {
                        background: $bg-color-dark;
                    }

                    &.nav-prev {
                        left: 0;
                        bottom: 50%;
                        border-bottom: 1px solid $bg-color-dark;
                    }

                    &.nav-next {
                        left: 0;
                        top: 50%;
                    }
                }
            }



        }
    }
}

#body-inner {
    pre {
        white-space: pre-wrap;
    }
}
